<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYChangeicon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC47B2EF1E9DB457004BD945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC47B3081E9DB457004BD945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC47B3131E9DB457004BD945</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
